@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";

/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: 70px;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
.pgcol {
  background-color: red;
  color: white;
}
.pg {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  text-decoration: none;
  border: 1px solid #ddd;
}
.pg:hover{
  background-color:rgb(255,0,0);
  cursor: pointer;
}
.mt40{
  margin-top: 40px;
}
.ffs{
font-size:22px;
font-family: " Helvetica Neue ", Helvetica, Arial, sans-serif;
}
a p{
margin-bottom:2px;
color:black;
font-size:22px;
font-family: " Helvetica Neue ", Helvetica, Arial, sans-serif;
}
/* Start writing sass here */
@media (max-width:1200px){
 a.btnp{
  padding: 3px 5px;
  }
  a p{
    font-size: 20px;
  }
}
@media (max-width:$screen-sm-max){
  a.btnp{
    padding: 0px 8px;
    text-align: center;
  }
  .padd{
    padding-top: 28px;
    margin:0px;
  }
  img{
    margin: 16px auto;
    // margin-left: 23%;
  }
}
@media (max-width:$screen-xs-max){
  a.btnp{
    padding: 0px 5px;
    // text-align: center;
  }
  a p {
    font-size: 18px;
  }
}
@media (max-width:480px){
  .mt40{
    margin-top: 0px;
  }
  a.btnp{
    padding:0px;
    margin-top: 5px;
    text-align: center;
  }
  a p {
    font-size: 13px;
  }
  .ffs{
    font-size: 18px;
  }
  .fs{
    font-size: 8px;
  }
  .bts{
    font-size: 13px;
  }
  h3 b u{
    font-size: 19px;
  }
  h3 b{
    font-size: 20px;
  }
  h1 u{
   font-size: 26px;
 }
}
