<style>
  .nav-tabs > li > div {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs > li > div:hover {
    border-color: #eee #eee #ddd;
  }
  .nav-tabs > li.active > div,
  .nav-tabs > li.active > div:hover {
    color: #555;
    cursor: default;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
  }

  .nav > li > div {
    position: relative;
    display: block;
    padding: 10px 15px;
  }
  .nav > li > div:hover {
    background-color: #eee;
  }

  .-tab > div {
    color: #337ab7;
    cursor: pointer;
  }

  .nav-tabs > li.disabled > div {
    color: #999;
  }
  .nav-tabs>li.disabled>div:hover,
  .nav-tabs>li.disabled>div:focus {
    color: #999;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed;
  }

  form.tab-form-demo .tab-pane {
    margin: 20px;
  }

</style>
<h1>
  Welcome&nbsp;{{form.name}}</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<div class="container">
  <h1>HELLO EVERYONE!!!</h1>
</div>

<div class="container-fluid">
  <h1>CALL ME</h1>
</div>

<h4>Using Expression.</h4>
<div class="container-fluid">
  {{5*5}}
</div>

<p>
  <b>Normal Unordered list.</b>
</p>

<ul>
  <li>Raj</li>
  <li>Jay</li>
  <li>John</li>
  <li>Android</li>
  <li>Harsh</li>
</ul>

<h4>Using ng-repeat and Expression.</h4>
<ul>
  <li ng-repeat="list in lists">
    {{list}}
  </li>
</ul>

<div class="container">
  <div ng-app="" ng-init="names=[
{name:'Jani',country:'Norway'},
{name:'Hege',country:'Sweden'},
{name:'Kai',country:'Denmark'}]">

    <p>
      <b>Looping with objects of array:</b>
    </p>
    <ul>
      <li ng-repeat="x in names">
        {{ x.name + ', ' + x.country }}</li>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <p>
    <b>Looping with objects of array using controller function:</b>
  </p>
  <ul>
    <li ng-repeat="x in ns">
      {{ x.name + ', ' + x.country }}</li>
  </ul>
</div>

Name:
<input type="text" ng-model="name" placeholder="Enter name here.">
<br>
Hello&nbsp;{{name}},
<br>
<br>
<p>
  <b>Using span and ng-bind</b>
</p>
Hi&nbsp;
<span ng-bind="name"></span>.

<div class="container" ng-init="a=1;b=5">
  <p>
    Expression solved (a*b)
    {{a*b}}
  </p>
  <p>
    <b>Using span and ng-bind</b>
  </p>
  <p>
    <span ng-bind="a*b"></span>
  </p>
</div>

<div class="container" ng-init="c=1;d=5">
  Num1:
  <input type="number" ng-model="c" min="0" max="10">
  &nbsp;&nbsp;Num2:
  <input type="number" ng-model="d" min="0" max="10">
  <br>
  Mul:&nbsp;
  <span ng-bind="c*d"></span>
</div>

<div class="container">
  <input type="text" ng-model="form.name">
</div>
<p>
  <b>Image</b>
</p>
<img src="img\logo.png">

<div class="container">
  <flex-slider flex-slide="s in myImages">
  <li>
    <img ng-src="{{s}}">
  </li>
</flex-slider>
</div>

<div class="container">
<!-- <div ng-repeat="m in photos"> -->
<img ng-src="{{photos}}">

<img ng-src="{{pics}}">
<!-- </div> -->
</div>

<div>
<tabset>
  <tab heading="Static titlev1">Static content1</tab>
  <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
    {{tab.content}}
  </tab>
</tabset>

<tabset vertical="true" type="pills">
  <tab heading="Vertical 1">Vertical content 1</tab>
  <tab heading="Vertical 2">Vertical content 2</tab>
</tabset>

<hr/>

<tabset justified="true">
  <tab heading="Justified">Justified content</tab>
  <tab heading="SJ">Short Labeled Justified content</tab>
  <tab heading="Long Justified">Long Labeled Justified content</tab>
</tabset>

</div>

<div ng-app="firstapp" ng-controller="AboutCtrl">
<p>
  <textarea ng-model="text" cols="40" rows="10"></textarea>
</p>

<p>
  <button ng-click="save()">Save</button>
  <button ng-click="clear()">Clear</button>
</p>

<p>Number of characters left:
  <span ng-bind="remain()"></span>
</p>

</div>

<div>
<table class="table table-responsive">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>Doe</td>
      <td>john@example.com</td>
    </tr>
    <tr>
      <td>Mary</td>
      <td>Moe</td>
      <td>mary@example.com</td>
    </tr>
    <tr>
      <td>July</td>
      <td>Dooley</td>
      <td>july@example.com</td>
    </tr>
  </tbody>
</table>
</div>
