<style>
  .pgcol {
    background-color: red;
    color: white;
  }

  .pg {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    border: 1px solid #ddd;
  }
</style>
<div class="container">
  <div class="row">
    <h1 class="text-center" style="color:red"><u>ARTICLES</u></h1>
    <!--
      <div ng-repeat="article in allArticles" style="display:inline-block">
       <a href="#/articledetail/{{article.id}}"><p style="font-size:22px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;">{{$index+1}})&nbsp;{{article.title}}&nbsp;&nbsp;&nbsp;</p></a>
      </div>
    </div>
   -->
    <div class="col-md-6" ng-repeat="article in allArticles" style="margin-top:40px">
      <img class="img-responsive" ng-src="{{article.image|serverimage}}">
      <div class="col-xs-9">
        <a href="#/articledetail/{{article.id}}">
          <p style="margin-bottom:2px;color:black;font-size:22px;font-family: " Helvetica Neue ", Helvetica, Arial, sans-serif;">{{article.title}}</p>
        </a>
      </div>
      <div class="col-xs-3">
        <div class="text-right" style="font-family: " Helvetica Neue ", Helvetica, Arial, sans-serif;">
          <b>{{article.timestamp}}</b>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <ul class="pagination">
      <li class="{{page.class}}" ng-repeat="page in pages" ng-click="getMoreArticles(page.pageno);">{{page.pageno}}</li>

      <!-- <li class="pg pgcol" ng-repeat="page in pages" ng-click="getMoreArticles(page);" ng-if="($index+1)==currentpg">{{page}}</li>
      <li class="pg" ng-repeat="page in pages" ng-click="getMoreArticles(page);" ng-if="($index+1)!=currentpg">{{page}}</li> -->
    </ul>
  </div>
</div>
